<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Allowance</a></li>
    <li class="breadcrumb-item active" aria-current="page">Create</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Create Allowance</h4>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <form class="forms-sample" (ngSubmit)="formSubmit()" [formGroup]="validationForm">
          <div class="mb-3">
            <label for="name" class="form-label">Name <span class="important">*</span></label>
            <input type="text" class="form-control" id="name" formControlName="name"
                   [ngClass]="{'is-invalid': isFormSubmitted && form.name.errors}" placeholder="Enter name">
            <div *ngIf="isFormSubmitted && form.name.errors?.required" class="invalid-feedback">
              Required
            </div>
          </div>

          <div class="mb-3">
            <label for="description" class="form-label">Description <span class="important">*</span></label>
            <input type="text" class="form-control" id="description" formControlName="description"
                   [ngClass]="{'is-invalid': isFormSubmitted && form.description.errors}" placeholder="Enter description">
            <div *ngIf="isFormSubmitted && form.description.errors?.required" class="invalid-feedback">
              Required
            </div>
          </div>

          <div class="mb-3">
            <label for="taxable" class="form-label">Description <span class="important">*</span></label>
            <select class="form-control" id="taxable" formControlName="taxable"
                    [ngClass]="{'is-invalid': isFormSubmitted && form.taxable.errors}">
              <option value="" disabled selected>Select an option</option>
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
            <div *ngIf="isFormSubmitted && form.taxable.errors?.required" class="invalid-feedback">
              Required
            </div>
          </div>


          <div>
            <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0"
                    [disabled]="validationForm.invalid"><i class="feather icon-save"></i> Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
