.bg-grey{
  background-color: #ecf0f1;
  width:25% !important;
}


.table{
  width: 100% !important;
  overflow-x: auto;
}

.icon-user{
  font-size: 2.5rem;
  color:#6571ff;
}

.chat-wrapper{
  margin-top: 10px;
}

.add-notes{
  margin-bottom: 20px;
  margin-right: 10px;
}

.action-buttons{
  margin-bottom: 20px;
}


.icon-trash-2, .icon-edit, .icon-eye{
  font-size: 20px;
  padding:5px;
}
