<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/employee/view">Employee</a></li>
    <li class="breadcrumb-item active" aria-current="page">View Employee</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body" *ngIf="employee != null">
        <h4 class="card-title">Employee:  {{employee.fullName}}</h4>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="employee != null">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <table class="table table-bordered">
          <tbody>
          <tr>
            <td class="bg-grey">Full Name</td>
            <td class="bg-white">{{ employee.fullName }}</td>
          </tr>

          <tr>
            <td class="bg-grey">Job Title</td>
            <td class="bg-white">{{ employee.jobTitle }}</td>
          </tr>
          <tr>
            <td class="bg-grey">Employee Code</td>
            <td class="bg-white">{{ employee.employeeCode }}</td>

          </tr>
          <tr>
            <td class="bg-grey">Hire Date</td>
            <td class="bg-white">{{ employee.hireDate }}</td>
          </tr>
          <tr>
            <td class="bg-grey">Date of Birth</td>
            <td class="bg-white">{{ employee.birthDate }}</td>
          </tr>

          <tr>
            <td class="bg-grey">Email Address</td>
            <td class="bg-white">{{ employee.email }}</td>
          </tr>

          <tr>
            <td class="bg-grey">Phone Number</td>
            <td class="bg-white">{{ employee.phone }}</td>
          </tr>
          <tr>
            <td class="bg-grey">Employee Address</td>
            <td class="bg-white">{{ employee.address }}</td>
          </tr>

          <tr>
            <td class="bg-grey">Employee Type</td>
            <td class="bg-white">{{ employee.employmentType }}</td>
          </tr>
          <tr>
              <td class="bg-grey">Work Location</td>
              <td class="bg-white">{{ employee.workLocation }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Employee Allowances Configurations</h4>
        <a [routerLink]="['/employee/add-allowance', employee.id]" class="btn btn-primary">
          <i class="feather icon-users"></i> Configure Allowance
        </a>
        </div>
      </div>
    </div>
  </div>

<div class="row mt-4" *ngIf="employeeAllowances.length > 0">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Allowances</h4>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Allowance Name</th>
            <th>Amount</th>
            <th>Date Created</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let allowance of employeeAllowances">
            <td>{{ allowance.allowanceName }}</td>
            <td>{{ allowance.amount }}</td>
            <td>{{ allowance.dateCreated | date: 'medium' }}</td>
            <td>
              <a routerLink="" class="text-success" placement="top" ngbTooltip="View">
                <i class="feather icon-eye "></i></a>
              <a class="text-primary" placement="top" ngbTooltip="Update">
                <i class="feather icon-edit "></i></a>
              <a  class="text-danger" placement="top" ngbTooltip="Delete">
                <i class="feather icon-trash-2"></i></a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Employee Deductions Configurations</h4>
        <a [routerLink]="['/employee/add-deduction', employee.id]" class="btn btn-danger">
          <i class="feather icon-users"></i> Configure Deductions
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4" *ngIf="employeeDeductions.length > 0">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Deductions</h4>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Deduction Name</th>
            <th>Amount</th>
            <th>Date Created</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let deduction of employeeDeductions">
            <td>{{ deduction.deductionName }}</td>
            <td>{{ deduction.amount }}</td>
            <td>{{ deduction.dateCreated | date: 'medium' }}</td>
            <td>
            <td>
              <a routerLink="" class="text-success" placement="top" ngbTooltip="View">
                <i class="feather icon-eye "></i></a>
              <a class="text-primary" placement="top" ngbTooltip="Update">
                <i class="feather icon-edit "></i></a>
              <a  class="text-danger" placement="top" ngbTooltip="Delete">
                <i class="feather icon-trash-2"></i></a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


